{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-props-no-spreading": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "no-unused-expressions": [
      1,
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "func-style": [
      "error",
      "expression"
    ],
    "jsx-a11y/click-events-have-key-events": 0
  }
}