$card-padding: 20px;

.feature-analyzer {
  min-height: 600px;
  display: flex;

  .card.table {
    flex-shrink: 0;
    background: $grey-100;
  }

  .feature-analyzer-viz-container {
    flex-shrink: 1;
    min-width: 500px;
  }

  .table-container {
    background-color: $grey-100;
    white-space: nowrap;
  }

  .projection-graph-container {
    width: 100%;
    height: 100%;
    position: relative;

    .clearfix {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.feature-analyzer-viz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-width: 0;

  .no-feature {
    width: 100%;
    height: 100%;

    .card-container {
      width: 100%;
      height: 100%;

      .no-feature-selected {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-weight: 200;
        background-color: $grey-100;
      }
    }
  }
}

.single-feature-analyzer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4fr 1fr;
  grid-gap: $card-space-between;

  .table-container {
    grid-column: 1 / span 2;
  }
}

.training-data-uploader {
  margin-bottom: 40px;
  p {
    margin-bottom: 20px;
  }
  .input-label {
    background-color: $grey-700;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  #input-file {
    margin-bottom: 20px;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .error-text {
    margin-top: 20px;
    color: red;
  }
}
