.feature-analyzer {
  min-height: 600px;
  display: flex;
  // flex-wrap: wrap;

  .card.table {
    flex-shrink: 0;
  }

  .projection-graph-container {
    flex-shrink: 1;
    min-width: 500px;
  }
}

.projection-graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-width: 0;

  &.card {
    padding: 30px;
  }

  .no-feature-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $dark-soft;
  }

  .table-container {
    overflow-x: auto;
  }
}

.feature-multi-graph-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3fr 1fr;
  grid-gap: 20px;

  .area-plot,
  .scatter-plot {
    min-width: 0;
  }
}

.area-plot {
  grid-column-start: 1;
}

.scatter-plot {
  grid-column-start: 0;
}

.table-container {
  grid-column: 1 / span 2;
}
