{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/jsx-props-no-spreading": 0,
    "no-unused-expressions": [
      1,
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ]
  }
}
