.dropdown {
  display: inline-block;
  position: relative;

  .dropdown-name,
  .dropdown-elt {
    padding: $dropdown-padding;
  }

  .dropdown-name {
    border-radius: $dropdown-radius;
    border: $dropdown-border;

    &:focus {
      outline: none;
    }
  }

  .dropdown-elt-container {
    display: none;
    border-left: $dropdown-border;
    border-right: $dropdown-border;
    border-bottom: $dropdown-border;
    border-bottom-left-radius: $dropdown-radius;
    border-bottom-right-radius: $dropdown-radius;
    max-height: 195px;
    overflow-y: overlay;

    &::-webkit-scrollbar {
      width: 10px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: grey;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
      border-color: transparent;
    }

    .dropdown-elt {
      background-color: white;
      border-radius: 0;

      &:first-child {
        background-color: $light-grey;
      }

      &:hover {
        cursor: pointer;
        background-color: $light-grey;
      }

      &.selected {
        & > span {
          color: white;
          padding: 3px 5px;
          border-radius: $dropdown-radius;
          background-color: black;
        }
      }
    }
  }

  &.active {
    .dropdown-name {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .dropdown-elt-container {
      display: block;
    }
  }
}
