// Variables
$icon-search-height: 20px;

.dropdown {
  display: inline-block;
  position: relative;

  .input-container {
    position: relative;

    .dropdown-name {
      height: 50px;
    }

    .icon-search {
      cursor: pointer;
      pointer-events: none;
      position: absolute;
      top: calc(50% - #{$icon-search-height} / 2);
      right: 15px;
      height: $icon-search-height;
      width: $icon-search-height;
    }
  }

  .dropdown-name,
  .dropdown-elt {
    padding: $dropdown-padding;
  }

  .dropdown-name {
    border-radius: $dropdown-radius;
    border: $dropdown-border;

    &:focus {
      outline: none;
    }
  }

  .dropdown-elt-container {
    display: none;
    border-left: $dropdown-border;
    border-right: $dropdown-border;
    border-bottom: $dropdown-border;
    border-bottom-left-radius: $dropdown-radius;
    border-bottom-right-radius: $dropdown-radius;
    max-height: 195px;
    overflow-y: overlay;

    .dropdown-elt {
      background-color: white;
      border-radius: 0;

      &:first-child {
        background-color: $dark-soft;
      }

      &:hover {
        cursor: pointer;
        background-color: $dark-soft;
      }

      &.selected {
        & > span {
          color: white;
          padding: 3px 5px;
          font-weight: 200;
          border-radius: $dropdown-radius;
          background-color: $primary;
          letter-spacing: 1.2px;
        }
      }
    }
  }

  &.active {
    .dropdown-name {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .dropdown-elt-container {
      display: block;
    }
  }
}
