table.table {
  overflow: hidden;
  width: 100%;
  border-spacing: 0;
  padding: 0;
  border-collapse: collapse;
  text-align: left;

  tr {
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: $table-box-shadow;
    position: relative;

    &.selected {
      background-color: $primary-soft;
    }

    td,
    th {
      padding: 10px 20px;
      position: relative;
      &:first-child {
        font-weight: bold;
      }
    }

    th {
      background-color: $warning;
    }
  }

  .hovered {
    cursor: pointer;
    box-shadow: $table-box-shadow-hover;
    background-color: $primary-soft;
  }
}
div.table-control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  box-shadow: $table-box-shadow;

  .dropdown {
    width: 100%;
    .dropdown-name {
      font-size: 16px;
      border-radius: 0;
      width: 100%;
      border: none;
      padding: 10px 20px;
      &::placeholder {
        font-size: 16px;
      }
    }
    .dropdown-elt-container {
      border-radius: 0;
      border: none;
    }
  }
}
