table.table {
  overflow: hidden;
  width: 100%;
  border-spacing: 0;
  padding: 0;
  border-collapse: collapse;
  text-align: left;

  tr {
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: $table-box-shadow;
    position: relative;

    &.selected {
      background-color: rgb(121, 199, 227);
    }

    td,
    th {
      padding: 10px 20px;
      position: relative;
      &:first-child {
        font-weight: bold;
      }
    }
  }

  .hovered {
    cursor: pointer;
    box-shadow: $table-box-shadow-hover;
    background-color: rgba(242, 245, 245, 0.8);
  }
}
div.table-control {
  display: flex;
  flex-direction: row-reverse;
  background-color: $dark-soft;
  padding: 10px 20px;
  box-shadow: $table-box-shadow;

  & > div {
    margin: 0 15px;
  }
}
