#nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  transition: width 1s ease;
  padding: 30px 50px;
  width: $nav-width;

  &.open {
    .fade {
      opacity: 1;
    }
  }

  .fade {
    opacity: 0;
    transition: opacity $nav-transition-duration/2 ease;
  }

  li {
    font-size: 15px;

    &:not(:first-child):hover {
      color: $grey-1000;
    }

    .icon {
      cursor: pointer;
    }

    & > a {
      display: flex;
      padding: 5px 0;

      .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $logo-width;
        margin-right: 10px;

        .icon {
          flex-shrink: 0;
          width: 20px;
        }
      }
    }

    &.menu {
      margin-bottom: 40px;

      .icon {
        width: 25px;
      }
    }

    &.logo {
      margin-bottom: 20px;

      .icon {
        width: $logo-width;
        height: $logo-height;
        margin-right: 15px;
      }

      h2 {
        line-height: $logo-height;
      }
    }
  }
}
