#nav {
  position: fixed;
  padding: 30px 50px;
  width: 195px;
  display: flex;
  flex-direction: column;

  li {
    font-size: 15px;

    &:not(:first-child):hover {
      color: $grey-1000;
    }

    & > a {
      display: flex;
      padding: 5px 0;
    }

    .icon {
      flex-shrink: 0;
      width: 20px;
      margin-right: 10px;

      &.large {
        width: 40px;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}
