//
// Pages
//
$default-padding-page: 30px 40px;

// featuresAnalytics
$feature-analytics: $default-padding-page;

//
// Components
//

// base-elements
// Dropdown
$dropdown-border: solid 1px black;
$dropdown-padding: 10px 15px;
$dropdown-radius: 3px;

// Navbar
$nav-width: 120px;
