//
// All sass files have to be imported here
//

// React Vis
@import '../../node_modules/react-vis/dist/style.css';

// Main
@import 'main/fonts';
@import 'main/reset';
@import 'main/variables';

// Analyzers
@import 'analyzers/FeatureAnalyzer';

// Base Elements
@import 'base-elements/Dropdown';
@import 'base-elements/Table';
@import 'base-elements/titles';

// Pages
@import 'pages/default';

// Components
@import 'navbar/NavBar';

// Very unusual stuff - create a file for this had no sense (at the time)
#main-switch {
  margin-left: $nav-width;
}

body {
  color: $grey-700;
  background-color: $body-background-color;
}
